{% extends 'reclamos/base.html' %} 
{% block titulo %}Acerca de Nosotros - Reclamos{% endblock %} 
{% block content %} 
<div class="container d-flex flex-column align-items-center justify-content-center min-vh-100 text-center">
    <h1 class="mb-4">Sistema de Reclamos v.1</h1> 
    <p class="mb-3">En este sistema podran cargar sus reclamos y ver el estado de los mismos.</p> 
    <p class="mb-3">Para cargar un reclamo, deberan registrarse en el sistema.</p>
    <p class="mb-5">Una vez registrado, podran cargar un reclamo, y ver el estado del mismo.</p>
    <h1 class="mb-4">Contacto</h1> 
    <p>Para contactarnos, envianos un mail a <a href="mailto:contacto@gmail.com">contacto@gmail.com</a></p>
</div>
{% endblock %}