{% extends 'reclamos/base.html' %} 
{% block titulo %}Reclamos{% endblock %} 
{% block content %} 
<div class="container d-flex flex-column align-items-center min-vh-100 text-center">
    <h1 class="mb-4 text-center h3">Iniciar Sesión:</h1> 
    <form class="form w-50" method="post">
        {% csrf_token %}
        <table class="table table-bordered table-hover">
            <tbody>
                {% for field in form %}
                <tr>
                    <th class="text-end">{{ field.label_tag }}</th>
                    <td>{{ field }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" id="submit" class="btn btn-primary w-100">Ingresar</button>
    </form>
</div>
{% endblock %}