{% extends 'reclamos/base.html' %} 
{% block content %} 
    <h1>Bienvenidos a Reclamos</h1> 
    <div class="container mt-4">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <form action="{% url 'reclamo_listar'%}" method="get" class="d-flex gap-2">
              <input type="text" name="q" placeholder="Buscar reclamo" class="form-control">
            </form>
          </div>
        </div>
      </div>
    {% if reclamos %}
      <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
                  <tr>
                      <th>Titulo</th>
                      <th>Descripcion</th>
                      <th>Autor</th>
                      <th>Fecha</th>
                      <th>Tipo</th>
                      <th>Estado</th>
                  </tr>
              </thead>
              <tbody>
                  {% for reclamo in reclamos %}
                  <tr>
                      <td>{{reclamo.titulo}}</td>
                      <td>{{reclamo.descripcion}}</td>
                      <td>{{reclamo.autor}}</td>
                      <td>{{reclamo.fecha}}</td>
                      <td>{{reclamo.reclamo_tipo.nombre}}</td>
                      <td>{{reclamo.reclamo_estado.nombre}}</td>
                      <td>
                        <a href="#" class="btn btn-sm btn-info">Detalle</a>
                        <a href="#" class="btn btn-sm btn-warning">Cambiar</a>
                        <a href="#" class="btn btn-sm btn-danger">Eliminar</a>
                      </td>
                    </tr>
                    {% endfor %}
          </table>
      </div>
    {% else %}
    No existen reclamos cargados.
    {% endif %}
{% endblock %}