{% extends 'reclamos/base.html' %} 
{% block titulo %}Reclamos - Confirmar Eliminación{% endblock %} 
{% block content %} 
<p>¿Está seguro que desea eliminar el siguiente reclamo?</p> 

<form method="post">
    {% csrf_token %}
    <p><strong>Titulo: </strong>{{ reclamo.titulo }}</p>
    <p><strong>Descripción: </strong>{{ reclamo.descripcion }}</p>
    <p><strong>Tipo: </strong>{{ reclamo.reclamo_tipo.nombre }}</p>
    <p><strong>Estado: </strong>{{ reclamo.reclamo_estado.nombre }}</p>
    <button type="submit" class="btn btn-danger">Eliminar</button> 	
    <a href="{% url 'reclamo_listar' %}" class="btn btn-secondary">Cancelar</a> 
</form> 
{% endblock %}