{% extends 'reclamos/base.html' %} 
{% block titulo %}Lista de Reclamos{% endblock %} 
{% block content %} 
    <h1>Lista de reclamos</h1> 
    <div class="container mt-4">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <form action="{% url 'reclamo_listar'%}" method="get" class="d-flex gap-2">
              <input type="text" name="q" placeholder="Buscar reclamo x titulo" class="form-control" type="submit">
            </form>
          </div>
        </div>
      </div>
      <br>
    {% if reclamos %}
      <div class="table-responsive-sm">
        <div class="table-wrapper">
          <table class="table table-hover table-bordered align-middle w-auto mx-auto">
            <thead>
                  <tr>
                      <th>Titulo</th>
                      <th>Descripcion</th>
                      <th>Autor</th>
                      <th>Fecha</th>
                      <th>Tipo</th>
                      <th>Estado</th>
                  </tr>
              </thead>
              <tbody>
                  {% for reclamo in reclamos %}
                  <tr>
                      <td>{{reclamo.titulo}}</td>
                      <td>{{reclamo.descripcion}}</td>
                      <td>{{reclamo.autor}}</td>
                      <td>{{reclamo.fecha}}</td>
                      <td>{{reclamo.reclamo_tipo.nombre}}</td>
                      <td>{{reclamo.reclamo_estado.nombre}}</td>
                      <td>
                        <a href="{% url 'reclamo_detalle' reclamo.pk %}" class="btn btn-sm btn-info">Detalle</a>
                        <a href="{% url 'reclamo_actualizar' reclamo.pk %}" class="btn btn-sm btn-warning">Cambiar</a>
                        <a href="{% url 'reclamo_eliminar' reclamo.pk %}" class="btn btn-sm btn-danger">Eliminar</a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
          </table>
        </div>
      </div>
    {% else %}
    <div class="table-responsive-sm">
      <div class="table-wrapper">
        <table class="table table-hover table-bordered align-middle w-auto mx-auto">
          <tbody>
            <tr>
              <td>No existen reclamos con ese titulo.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}
{% endblock %}